<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>Lista de Convidados</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>

	<div class="panel panel-default" style="margin: 10px">
		<form class="form-inline" method="POST" th:action="@{/enviaremail}"
			th:object="${dadosMensagem}" style="margin: 20px 0">
			<div class="form-group">
				<input type="text" th:field="*{remetente}" class="form-control"placeholder="Nome" /> 
				
				<input type="password"th:field="*{senha}" class="form-control"placeholder="Acompanhantes" />
				
				<button type="submit" class="btn btn-primary">Adicionar</button>
			</div>


		</form>
		<div class="panel-heading">
			<h1 class="container">Enviar email</h1>
		</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
