<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>Lista de Convidados</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>

	<div class="panel panel-default" style="margin: 20px">
		<form method="POST" th:action="@{/enviaremail}"
			th:object="${dadosMensagem}" style="margin: 20px 0">
			<div class="form-group row">
				<div class="col">
				<label for="txtRemetente">Remetente</label>
				<input type="text" id="txtRemetente" th:field="*{remetente}" class="form-control"placeholder="seu@gmail.com.br" /> 
				</div>
				<div class="col">
				<label for="txtSenha">Senha</label>
				<input type="password" id="txtSenha" th:field="*{senha}" class="form-control"placeholder="Senha" />
				</div>
				</div>
				
				<div class="form-group row">
				<label for="txtDestinatários">Destinatários</label>
				<input type="text" id="txtDestinatários" th:field="*{destinatarios}" class="form-control"placeholder="Ex: seuamigo@gmail.com, seucolega@outlook.com" />
				
				<label for="txtAssunto">Assunto</label>
				<input type="text" id="txtAssunto" th:field="*{assunto}" class="form-control"placeholder="Assunto" />
				
				<label for="txtMensagem">Mensagem</label>
				<textarea class="form-control" id="txtMensagem" th:field="*{mensagem}" rows="3"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Enviar</button>

		</form>
		</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
